a {
  cursor: pointer;
}

.container {

  background-color: lightblue;
  height: 70px;
  text-align: center;
  text-decoration: blue;
  font-size: 40px;
}

img {

  max-height: 250;
  max-width: 450;
}